.menu {
    background-color: #668255;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-container {
    display: flex;
    gap: 10px;
}

.button-container button {
    border: none;
    background-color: #668255;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.menu form {
    position: relative;
    flex-grow: 1;
    margin: 0 20px;
}

.barraPesquisa {
    border-radius: 5px;
    width: 70%;
    padding: 10px 65px 10px 10px;
    border: 1px solid #25371A;
    font-size: 16px;
    margin-left: 13%;
}

.enviar {
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 11px 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #668255;
    cursor: pointer;
}

.menu .login {
    background-color: #25371A;
    border-radius: 20px;
    height: 30px;
    width: 100px;
}

.menu .login:hover {
    transform: scale(1.05);
}