.postImgText {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 120px;
    max-width: 80%;
    margin-left: auto;
}

.postImgContent {
    display: flex;
}

.postImgImages {
    display: flex;
    align-items: center;
}

.postImgImages img {
    height: 110px;
    border-radius: 12px;
    border: 2px solid #5c7c67;
}